body {
    margin: 0;
    padding: 0;
}

div {
    border: 2px solid black;
    border-radius: 5px;
}

.block_head {
    width:calc(100% - 120px);
    height: 60px;
    background-color: #e1eae1;
    margin: 20px;
    padding: 20px 40px;
    min-width: 800px;
}

.block {
    width: 200px;
    height: 60px;
    background-color: #a2aaa2;
    box-sizing: border-box;
}

.first {
    display: flex;
    justify-content: space-between;
}
.second {
    display: flex;
    justify-content: space-between;
}

.second__block--1 {
    display: flex;
    justify-content: end;
    gap:40px;
}

.border {
    border: none;
}
.third {
    display: flex;
    justify-content: space-between;
}

.third__block {
    display: flex;
    gap: 40px;
}

.fourth {
    height: 140px;
    display: flex;
    justify-content: end;
    gap: 40px;
}

.fourth__block--1 {
    border: none;
    display: flex;
    gap: 20px;
    flex-direction: column;

}

.fourth__block--2 {
    height: 140px;
}

.fifth {
    height: 140px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.fifth__block--3 {
    height: 140px;
    width: 300px;
}

.fifth__block--2 {
    width: 300px;
}

.fifth__block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}