
* {
    margin: 0;
    padding: 0;
}
.table  {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border: 0;
}
td {
    border: 3px solid black;
}

.body {
    width: 800px;
    height: 800px;
    margin: 50px auto;
}
.td_min{
    width: 5%;
}

.td_min_but{
    height: 191px;
    background: red;
    border-top: 14px solid black;
    border-bottom: 8px solid black;
    border-right: 10px solid black;

}
.table2_1 {
    width: 100%;
    height: 88%;
    border-collapse: collapse;
    border: none;
}
.table2 {
    width: 100%;
    height: 12%;
    border-collapse: collapse;
    border: none;
}

.td_min_2 {
    width: 12%;
    border-bottom: 8px solid black;

}
.square_red {
    background-color: red;
    width: 50%;
    height: 100%;
    border-bottom: 10px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
}

.black_square {
    background-color: black;
    height: 15%;
    width: 27%;
    border-right: 10px solid black;
    border-left: 10px solid black;
}
.recr_yelou_gorizont {
    background-color: yellow;
    width: 38%;
    border-left: 10px solid black;
}
.square_yelow {
    background-color: yellow;
    height: 30%;
    border-bottom: 10px solid black;
}
.table5 {
    width: 100%;
    height: 100%;
    border-collapse: collapse;

}

.rect_gor_black {
    background-color: black;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
}
.rect_blue {
    background-color: #3232c7;
    border-bottom: 10px solid black;
    border-top: 10px solid black;
}

.collsp_min {
    height: 20%;
}
.square_gor_yellow {
    background-color: yellow;
    border-top: 10px solid black;
    border-right: 10px solid black;

}
.td1 {
    width: 24%;
    border-right: 10px solid black;
}
.td2 {
    height: 25%;
    width: 19%;
    border-right: 10px solid black;
}

.td3 {
    width: 37%;
    height: 50%;
    border-right: 10px solid black;
    border-top: 10px solid black;
}

.td6 {
    border-right: 10px solid black;
}

.td7 {
    border-right: 10px solid black;
    border-left: 12px solid black;
}

.td8 {
    border-top: 10px solid black;
}