
* {
    margin: 0;
    padding: 0;
}
.table  {
    width: 100%;
    height: 100%;
    border: 4px solid black;
    border-collapse: collapse;

tr td {
    border: 4px solid black;
}

}
.body {
    width: 800px;
    height: 800px;
    margin: auto;
}
.td_min{
    width: 5%;
}

.td_min_but{
    height: 27%;
    background: red;
}
.table2_1 {
    width: 100%;
    height: 88%;
    border: 4px solid black;
    border-collapse: collapse;
}
.table2 {
    width: 100%;
    height: 12%;
    border: 4px solid black;
    border-collapse: collapse;
}

.td_min_2 {
    width: 13%;

}
.square_red {
    background-color: red;
    width: 50%;
    height: 100%;
}

.black_square {
    background-color: black;
    height: 15%;
    width: 27%;
}
.recr_yelou_gorizont {
    background-color: yellow;
}
.square_yelow {
    background-color: yellow;
    height: 30%;
}
.table5 {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.rect_gor_black {
    background-color: black;
}
.rect_blue {
    background-color: #3232c7;
}

.collsp_min {
    height: 20%;
}
.square_gor_yellow {
    background-color: yellow;

}
.td1 {
    width: 25%;
}
.td2 {
    height: 25%;
}

.td3 {
    width: 38%;
    height: 50%
}
