
.page-footer {
    margin: 0 auto;
    background: aquamarine;
    font-size: 25px;
    color: white;
    height: 150px;
    line-height: 10px;

    padding: 0 20px;
}
.container body {
    margin: 0 auto;
    padding: 0;
}

.container {
    align-items: center;
    width: 1200px;
    margin: 0 10px;
    padding: 0 10px;
}
.page-footer a {
    text-decoration: none;
}

.list-item {
    list-style: none;
    display: inline;
    margin: 35px;
    float: left;
}

.list{
    margin: 0;
    padding: 0;
}

.result {
    font-size: 30px;
    color: red;
    margin: 20px;
    padding: 0 10px;
    font-weight: bold;
}

.result_text {
    font-size: 20px;
    margin: 0 20px;
    padding: 0 10px;
    font-weight: bold;
}
.result_text span {
    color: blue;
}

.content {
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    height: 400px;
}

.card {
    width: 350px;
    height: 350px;
    background-color: coral;
    font-size: 20px;
    display: inline-block;
    padding: 0 10px;
    margin: 10px 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #a31f1f;
    border: 1px solid black;
}

.border {
    overflow: hidden;

}
.border:hover {
    overflow: auto;
}

.hidden {
    overflow: hidden;
}
.paragraph {
    font-size: 30px;
    color: black;
    margin: 10px;
}
.image1 {
    float: left;
    margin: 0 10px;
}
.clear {
    clear: left;
}
.image {
    float: right;
}
h1 {
    font-size: 50px;
}
h1~h2{
    font-size: 30px;
}